# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# macOS
.DS_Store

# IDE files
.vscode/
.idea/

# Python cache
*.pyo
*.pyd